*{
margin: 0;
padding: 0;

}
body {
  margin-top:50px;
}
.custom-list {
  list-style-type: none; /* Quitar la viñeta */
  padding-left: 0; /* Eliminar el padding por defecto */
}

.custom-list li {
  position: relative; /* Esto es para posicionar el nuevo elemento */
  padding-left: 20px;
  margin:15px; /* Espacio suficiente para el nuevo símbolo */
}

.custom-list li::before {
  font-size: 35px;
 
  content: "›"; /* El símbolo a mostrar */
  color: blue; /* Color del símbolo */
  position: absolute; /* Posicionarlo absolutamente para que se coloque alineado con los items*/
  top:-15px;/*ajustamos verticalmente el simbolo*/
  left: 0; /* alinear a la izquierda */
}


.lineaAzul {
  background-color:rgb(63, 162, 208);
  border: 25px ;
  margin-left: 12px;
  padding: 0px;
  border-radius: 10px;
  height: 5px;
  width:60px;
}
.nombre, .work, .skills, .facts {
  color:rgb(48, 76, 141);
}

.imagen1 {/*Esto hace que la imagen no se distorsione*/
  max-width: 100%;
  height: auto;
}
.progress-bar{
  background-color:rgb(221, 226, 229);
  border: 25px ;
  margin-left: 12px;
  padding: 0px;
  color:white;
  border-radius: 10px;
  
  height: 8px;
  
}
.hht , .ccs, .jjas, .pyt, .api, .rect{
  width: 100%;
}


